@mixin bg($img){
	background: url("../img/#{$img}.jpeg") 0 0/cover no-repeat;
	background-position: center;
}

body{
	font-family: 'Poppins', sans-serif;

	.container{}

	.menu{
		display: block;
		position: fixed;
		background: #fff;
		top: 0;
		width:100%;
		z-index: 10;

		text-transform: uppercase;
		a{
			color: #000;
			&:hover{
				text-shadow: #888 3px 0 3px;
			}
		}
		.menu__body{
			margin: 0 20px;

			display: flex;
			justify-content: space-between;
			align-items: baseline;

			.menu__logo{}
			.menu__nav{
				display: flex;
				text-align: center;
				.menu__buttons-mobile{}
			}
			.menu__buttons{
				display: flex;
				justify-content: space-evenly;
				flex-direction: row;
				.menu_button{}
				.space{width:35px;}
			}
			.menu__buttons-pc{
			}
		}
	}

	.content{
		.promotion{
			text-transform: uppercase;
			transition: all 1s;
			
			.promotion__pre-title{}
			.promotion__title{}
			.promotion__text{
				text-transform: none;
			}
			.promotion__button{
				color: white;
				background-color: black;
			}
		}
		.content-head{
			margin: 100px 0 0 0;
			@include bg('ch_1');
			background-position: 35%;

			.content-head__inner{
				.content-head__buttons{
					display: flex;
					transition: all 1s;
					.content-head__space{
						width: 35px;
					}
				}
			}
		}
		.content-body{
			max-width: 1130px;
			margin: 0 auto;

			& >div{}

			.content-body__row1{
				display:grid;

				@mixin picture_config($img){
					@include bg($img);
					border: 11px solid #fff;
				}
				.content-body__pic1{@include picture_config("row1_1");}
				.content-body__pic2{@include picture_config("row1_2");}
				.content-body__pic3{@include picture_config("row1_3");}
				.content-body__pic4{
					@include picture_config("row1_4");
					.text{
						background-color: #fff;
						text-transform: uppercase;
						display: inline-block;
						position: relative;
					}
				}
			}
		}

			.products{
				display: flex;
				flex-direction: column;

				.content-body__title{
					text-transform: uppercase;
					text-align: center;
				}
				.content-body__text{
					text-align: center;
				}
				.content-body__cards{
					display: flex;
					justify-content: space-between;
					flex-wrap: wrap;
					
					.card{
						.card__pic{}
						.card__text1{}
						.card__text2{}
						.card__cost{
							display: flex;
							.card__oldcost{
								text-decoration: line-through;
							}
							.card__newcost{
								color: #CF2929;
							}
						}
					}
				}
			}
			.content-body__row2{
				.pic1{@include bg("row2_1");}
				.pic2{@include bg("row2_2");}
				.pic3{@include bg("row2_3");}
				.pic4{@include bg("row2_4");}
			}
			.content-body__row3{
				.pic1{@include bg("row3_1");}
				.pic2{@include bg("row3_2");}
				.pic3{@include bg("row3_3");}
				.pic4{@include bg("row3_4");}
			}
			.content-body__row4{
				transition: all 1s;
				.pic1{@include bg("row4_1");}
				.pic2{@include bg("row4_2");}
				.pic3{@include bg("row2_1");}
				.text{}
			}
		
		.content-footer{
			@include bg('ft_1');
			background-position: 87%;
			.content-footer__inner{
				position: relative;
			}
		}
	}
	.footer{
		.footer__row{
			background: #F2F8FC;
			display: flex;

			.footer__col1{
				.footer__logo{}
				.footer__text{}
				.footer__adress{}
				.footer__email{
					display: inline-block;
					border-bottom: 1px solid #000;
				}
				.footer__tel{}
				.footer__social{
					display: flex;
					i{
						display: block;
					}
				}
			}
			.footer__col2{
				display: flex;
				flex-direction: column;

				.footer__updates{}
				.footer__inputmail{
					border-radius: 50%;

					.footer__form{
						display: grid;
						background-color: #fff;
						grid-template-columns: 5fr 1fr;

						.form__inputmail{
							border: 0;
						}
						.form__inputsubmit{
							background-color: #fff;
						}
					}
				}
				.footer__sitemap{
					display: grid;
					
					.sitemap__col{
						display: flex;
						flex-direction: column;

						.sitemap__title{
							text-transform: uppercase;
						}
						.sitemap__text{}
					}
				}
			}
		}
		.footer__copyright{
			background: #E7F5F8;

			.copyright__text{
				text-align: center;
			}
		}
	}
}