body{

	.container{}

	@media(max-width: 940px){
		.menu{
		.menu__body{
			.menu__logo{
				margin: 0 0 0 20px;
			}
			.menu__nav{
				position: relative; 
				padding: 0 20px;

				.menu__list{
					display: none;
					columns: 1;
					-webkit-columns: 1;
					-moz-columns: 1;

					.menu__buttons-mobile{display: flex;}
				}
				.menu__checkbox{display: none;}

				label{
					display: block;
					width: 30px;
					height: 30px;
					background: url("../img/menu.png");
					background-size: contain;
					&:active{
						transform: rotate(360deg);
						transition: all 0.3s;
					}
				}
				.menu__checkbox:checked + .menu__list{
					display:block;
					position:fixed;
					top:104px;
					right: 0;
					li{
						width:200px;
						margin: 0 3px 2px 0;
						padding: 10px;
						box-shadow: 1px 0 #aaa;
						background: #fff;
						

					}
				}
			}
			.menu__buttons-pc{
				display:none;
			}
		}
	}
	}

	.content{
		.promotion{
			.promotion__pre-title{}
			.promotion__title{}
			.promotion__text{}
			.promotion__button{}
		}
		.content-head{
			.content-head__inner{
				left: 50%;
				transform: translate(-50%,0);
				.content-head__buttons{
					justify-content: center;
					.content-head__space{}
				}
			}
		}
		.content-body{

			& >div{}
			
			.content-body__row1{
				.content-body__pic1{}
				.content-body__pic2{}
				.content-body__pic3{}
				.content-body__pic4{
					.text{}
				}
			}

			.products{
				.content-body__title{}
				.content-body__text{}
				.content-body__cards{
					justify-content: space-around;
					.card{						
						.card__pic{}
						.card__text1{}
						.card__text2{}
						.card__cost{
							.card__oldcost{}
							.card__newcost{}
						}
					}
				}	
			}
			.content-body__row2{
				.pic1{}
				.pic2{}
				.pic3{}
				.pic4{}
			}
			.content-body__row3{
				.pic1{}
				.pic2{}
				.pic3{}
				.pic4{}
			}
			.content-body__row4{
				.content-body__pics{
					height: 590px;
					width: 95%;
					margin: 0 auto;
					.pic1{}
					.pic2{}
					.pic3{}
					.text{}
				}
			}
		}
		.content-footer{
			.content-footer__inner{
				left: 50%;
				transform: translate(-50%,0);
			}
		}
	}
	.footer{
		.footer__row{
			padding: 90px 100px;

			.footer__col1{
				.footer__logo{}
				.footer__text{}
				.footer__adress{}
				.footer__email{}
				.footer__tel{}
				.footer__social{}

			}
			.footer__col2{
				.footer__updates{}
				.footer__inputmail{
					.footer__form{
						.form__inputmail{}
						.form__inputsubmit{}
					}
				}
				.footer__sitemap{
					grid-template-columns: auto 54px auto 54px auto;
					.sitemap__col{
						.sitemap__title{}
						.sitemap__text{}
					}
				}
			}
		}
		.footer__copyright{
			.copyright__text{}
		}
	}
}