body{

	.container{}

	.menu{
		.menu__body{
			.menu__logo{}
			.menu__nav{}
			.menu__buttons{
				.menu_button{}
			}
		}
	}

	.content{
		.promotion{
			div{
				transition: all 1s;
				text-align: center;
			}
			.promotion__pre-title{text-shadow: #fff 5px 0 3px;}
			.promotion__title{text-shadow: #fff 5px 0 3px;}
			.promotion__text{text-shadow: #fff 5px 0 3px;}
			.promotion__button{}
		}
		.content-head{
			.content-head__inner{
				.content-head__buttons{
					.content-head__space{}
				}
			}
		}
		.content-body{

			& >div{}
			
			.content-body__row1{
				grid-template: 
					[start] "a b" 300px [row2]
					[row2] "c d" 300px [row-end] / 1fr 1fr;
				
				.content-body__pic1{background-position: top;}
				.content-body__pic2{background-position: top;}
				.content-body__pic3{background-position: top;}
				.content-body__pic4{background-position: top;}
				.text{transform: translate();}
			}

			.products{
				.content-body__title{}
				.content-body__text{}
				.content-body__cards{
					.card{						
						.card__pic{}
						.card__text1{}
						.card__text2{}
						.card__cost{
							.card__oldcost{}
							.card__newcost{}
						}
					}
				}	
			}
			.content-body__row2{
				.pic1{}
				.pic2{}
				.pic3{}
				.pic4{}
			}
			.content-body__row3{
				.pic1{}
				.pic2{}
				.pic3{}
				.pic4{}
			}
			.content-body__row4{
				.content-body__pics{
					height: 430px;
					.pic1{}
					.pic2{}
					.pic3{
						border: 12px solid #fff;
						border-bottom: 0;
						border-right: 0;
					}
					.text{
						@include text_config(9px, 400, 22.5px);
					}
				}
			}
		}
		.content-footer{
			.content-footer__inner{}
		}
	}
	.footer{
		.footer__row{
			padding: 50px 30px;
			div{
				text-align: center;
			}
			flex-direction: column;
			.footer__col1{
				order: 2;
				margin: 0 auto;
				width: 80%;
				.footer__logo{}
				.footer__text{}
				.footer__adress{}
				.footer__email{}
				.footer__tel{}
				.footer__social{
					justify-content: center;
				}

			}
			.footer__col2{
				order: 1;
				margin: 0 auto 50px;
				width: 80%;
				.footer__updates{}
				.footer__inputmail{
					.footer__form{
						.form__inputmail{}
						.form__inputsubmit{}
					}
				}
				.footer__sitemap{
					.sitemap__col{
						.sitemap__title{}
						.sitemap__text{}
					}
				}
			}
		}
		.footer__copyright{
			.copyright__text{}
		}
	}
}