@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, header, footer, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 400;
}

body {
  font-family: 'Poppins', sans-serif;
}

body .menu {
  display: block;
  position: fixed;
  background: #fff;
  top: 0;
  width: 100%;
  z-index: 10;
  text-transform: uppercase;
}

body .menu a {
  color: #000;
}

body .menu .menu__body {
  margin: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

body .menu .menu__body .menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

body .menu .menu__body .menu__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body .menu .menu__body .menu__buttons .space {
  width: 35px;
}

body .content .promotion {
  text-transform: uppercase;
  -webkit-transition: all 1s;
  transition: all 1s;
}

body .content .promotion .promotion__text {
  text-transform: none;
}

body .content .promotion .promotion__button {
  color: white;
  background-color: black;
}

body .content .content-head {
  margin: 100px 0 0 0;
  background: url("../img/ch_1.jpeg") 0 0/cover no-repeat;
  background-position: center;
  background-position: 35%;
}

body .content .content-head .content-head__inner .content-head__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 1s;
  transition: all 1s;
}

body .content .content-head .content-head__inner .content-head__buttons .content-head__space {
  width: 35px;
}

body .content .content-body {
  max-width: 1130px;
  margin: 0 auto;
}

body .content .content-body .content-body__row1 {
  display: -ms-grid;
  display: grid;
}

body .content .content-body .content-body__row1 .content-body__pic1 {
  background: url("../img/row1_1.jpeg") 0 0/cover no-repeat;
  background-position: center;
  border: 11px solid #fff;
}

body .content .content-body .content-body__row1 .content-body__pic2 {
  background: url("../img/row1_2.jpeg") 0 0/cover no-repeat;
  background-position: center;
  border: 11px solid #fff;
}

body .content .content-body .content-body__row1 .content-body__pic3 {
  background: url("../img/row1_3.jpeg") 0 0/cover no-repeat;
  background-position: center;
  border: 11px solid #fff;
}

body .content .content-body .content-body__row1 .content-body__pic4 {
  background: url("../img/row1_4.jpeg") 0 0/cover no-repeat;
  background-position: center;
  border: 11px solid #fff;
}

body .content .content-body .content-body__row1 .content-body__pic4 .text {
  background-color: #fff;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
}

body .content .products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .content .products .content-body__title {
  text-transform: uppercase;
  text-align: center;
}

body .content .products .content-body__text {
  text-align: center;
}

body .content .products .content-body__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .content .products .content-body__cards .card .card__cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .content .products .content-body__cards .card .card__cost .card__oldcost {
  text-decoration: line-through;
}

body .content .products .content-body__cards .card .card__cost .card__newcost {
  color: #CF2929;
}

body .content .content-body__row2 .pic1 {
  background: url("../img/row2_1.jpeg") 0 0/cover no-repeat;
  background-position: center;
}

body .content .content-body__row2 .pic2 {
  background: url("../img/row2_2.jpeg") 0 0/cover no-repeat;
  background-position: center;
}

body .content .content-body__row2 .pic3 {
  background: url("../img/row2_3.jpeg") 0 0/cover no-repeat;
  background-position: center;
}

body .content .content-body__row2 .pic4 {
  background: url("../img/row2_4.jpeg") 0 0/cover no-repeat;
  background-position: center;
}

body .content .content-body__row3 .pic1 {
  background: url("../img/row3_1.jpeg") 0 0/cover no-repeat;
  background-position: center;
}

body .content .content-body__row3 .pic2 {
  background: url("../img/row3_2.jpeg") 0 0/cover no-repeat;
  background-position: center;
}

body .content .content-body__row3 .pic3 {
  background: url("../img/row3_3.jpeg") 0 0/cover no-repeat;
  background-position: center;
}

body .content .content-body__row3 .pic4 {
  background: url("../img/row3_4.jpeg") 0 0/cover no-repeat;
  background-position: center;
}

body .content .content-body__row4 {
  -webkit-transition: all 1s;
  transition: all 1s;
}

body .content .content-body__row4 .pic1 {
  background: url("../img/row4_1.jpeg") 0 0/cover no-repeat;
  background-position: center;
}

body .content .content-body__row4 .pic2 {
  background: url("../img/row4_2.jpeg") 0 0/cover no-repeat;
  background-position: center;
}

body .content .content-body__row4 .pic3 {
  background: url("../img/row2_1.jpeg") 0 0/cover no-repeat;
  background-position: center;
}

body .content .content-footer {
  background: url("../img/ft_1.jpeg") 0 0/cover no-repeat;
  background-position: center;
  background-position: 87%;
}

body .content .content-footer .content-footer__inner {
  position: relative;
}

body .footer .footer__row {
  background: #F2F8FC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .footer .footer__row .footer__col1 .footer__email {
  display: inline-block;
  border-bottom: 1px solid #000;
}

body .footer .footer__row .footer__col1 .footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .footer .footer__row .footer__col1 .footer__social i {
  display: block;
}

body .footer .footer__row .footer__col2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .footer .footer__row .footer__col2 .footer__inputmail {
  border-radius: 50%;
}

body .footer .footer__row .footer__col2 .footer__inputmail .footer__form {
  display: -ms-grid;
  display: grid;
  background-color: #fff;
  -ms-grid-columns: 5fr 1fr;
      grid-template-columns: 5fr 1fr;
}

body .footer .footer__row .footer__col2 .footer__inputmail .footer__form .form__inputmail {
  border: 0;
}

body .footer .footer__row .footer__col2 .footer__inputmail .footer__form .form__inputsubmit {
  background-color: #fff;
}

body .footer .footer__row .footer__col2 .footer__sitemap {
  display: -ms-grid;
  display: grid;
}

body .footer .footer__row .footer__col2 .footer__sitemap .sitemap__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .footer .footer__row .footer__col2 .footer__sitemap .sitemap__col .sitemap__title {
  text-transform: uppercase;
}

body .footer .footer__copyright {
  background: #E7F5F8;
}

body .footer .footer__copyright .copyright__text {
  text-align: center;
}

body .container11 {
  max-width: 1130px;
  margin: 0 auto;
}

body .container16 {
  max-width: 1600px;
  margin: 0 auto;
}

body .menu .menu__body {
  margin: 30px 0;
}

body .menu .menu__body .menu__logo {
  width: 164px;
  font-size: 28px;
  font-weight: 700;
  line-height: 42px;
}

body .menu .menu__body .menu__nav {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body .menu .menu__body .menu__nav a {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}

body .menu .menu__body .menu__nav label {
  display: none;
}

body .menu .menu__body .menu__nav .menu__checkbox {
  display: none;
}

body .menu .menu__body .menu__nav .menu__list {
  columns: 6;
  -webkit-columns: 6;
  -moz-columns: 6;
}

body .menu .menu__body .menu__nav .menu__list .menu__buttons-mobile {
  display: none;
}

body .menu .menu__body .menu_button {
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
}

body .content .promotion {
  position: relative;
  -webkit-transform: translate(-25%, -25%);
          transform: translate(-25%, -25%);
  width: 453px;
}

body .content .promotion .promotion__pre-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
}

body .content .promotion .promotion__title {
  font-size: 80px;
  font-weight: 700;
  line-height: 120px;
}

body .content .promotion .promotion__text {
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  margin: 0 0 27px 0;
}

body .content .promotion .promotion__button {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  padding: 4px 29px;
}

body .content .content-head {
  height: 745px;
}

body .content .content-head .content-head__inner {
  left: 910px;
  top: 445px;
}

body .content .content-body > div {
  margin: 30px auto;
}

body .content .content-body .content-body__row1 {
  min-height: 580px;
  grid-template: [start] "a a d d" [row2] [row2] "b c d d" [row-end];
  -ms-grid-columns: 25% 25% 25% 25%;
      grid-template-columns: 25% 25% 25% 25%;
}

body .content .content-body .content-body__row1 .content-body__pic1 {
  grid-area: a;
}

body .content .content-body .content-body__row1 .content-body__pic2 {
  grid-area: b;
}

body .content .content-body .content-body__row1 .content-body__pic3 {
  grid-area: c;
  background-position: left;
}

body .content .content-body .content-body__row1 .content-body__pic4 {
  grid-area: d;
  background-position: right;
  position: relative;
}

body .content .content-body .content-body__row1 .content-body__pic4 .text {
  position: absolute;
  left: 28px;
  bottom: 25px;
  padding: 4px 24px;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
}

body .content .content-body .products .content-body__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  margin: 0 0 15px 0;
}

body .content .content-body .products .content-body__text {
  font-size: 15px;
  font-weight: 400;
  line-height: 22.5px;
  margin: 0 0 65px 0;
}

body .content .content-body .products .content-body__cards .card {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  width: 268px;
}

body .content .content-body .products .content-body__cards .card .card__pic {
  height: 371px;
  margin: 0 0 38px 0;
}

body .content .content-body .products .content-body__cards .card .card__text1 {
  font-size: 15px;
  font-weight: 300;
  line-height: 23px;
}

body .content .content-body .products .content-body__cards .card .card__text2 {
  font-size: 15px;
  font-weight: 600;
  line-height: 23px;
}

body .content .content-body .products .content-body__cards .card .card__cost {
  margin: 0 0 30px 0;
}

body .content .content-body .products .content-body__cards .card .card__cost .card__oldcost {
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  padding: 0 30px 0 0;
}

body .content .content-body .products .content-body__cards .card .card__cost .card__newcost {
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
}

body .content .content-body .content-body__row4 .content-body__pics {
  position: relative;
  height: 690px;
}

body .content .content-body .content-body__row4 .content-body__pics .pic1 {
  background-position: top right;
  position: absolute;
  width: 51.76991%;
  height: 85.27132%;
  bottom: 0px;
  left: 0px;
}

body .content .content-body .content-body__row4 .content-body__pics .pic2 {
  background-position: left;
  position: absolute;
  width: 45.48673%;
  height: 69.92248%;
  right: 0px;
}

body .content .content-body .content-body__row4 .content-body__pics .pic3 {
  background-position: top;
  position: absolute;
  width: 23.9823%;
  height: 50.3876%;
  border: 22px solid #fff;
  border-bottom: 0;
  border-right: 0;
  bottom: 0px;
  right: 0px;
}

body .content .content-body .content-body__row4 .content-body__pics .text {
  position: absolute;
  font-size: 15px;
  font-weight: 400;
  line-height: 22.5px;
  border-bottom: 1px solid #000;
  right: 24.24779%;
  bottom: 40px;
  padding: 0 0 4px 0;
}

body .content .content-footer {
  height: 745px;
}

body .content .content-footer .content-footer__inner {
  top: 57.71812%;
  left: 14.43817%;
}

body .footer .footer__row {
  width: 100%;
  padding: 110px 20.35398%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .footer .footer__row .footer__col1 {
  width: 35.9292%;
  font-size: 15px;
  font-weight: 400;
  line-height: 22.5px;
}

body .footer .footer__row .footer__col1 .footer__logo {
  font-size: 25px;
  font-weight: 700;
  line-height: 37.5px;
  margin: 0 0 17px 0;
}

body .footer .footer__row .footer__col1 .footer__text {
  margin: 0 0 41px 0;
}

body .footer .footer__row .footer__col1 .footer__adress {
  margin: 0 0 16px 0;
}

body .footer .footer__row .footer__col1 .footer__adress i {
  padding: 0 26px 0 0;
}

body .footer .footer__row .footer__col1 .footer__email {
  padding: 0 0 3px 0;
  margin: 0 0 4px 0;
}

body .footer .footer__row .footer__col1 .footer__tel {
  margin: 0 0 16px 0;
}

body .footer .footer__row .footer__col1 .footer__social .fab {
  padding: 0 20px 0 0;
}

body .footer .footer__row .footer__col2 {
  width: 47.07965%;
}

body .footer .footer__row .footer__col2 .footer__updates {
  font-size: 25px;
  font-weight: 700;
  line-height: 37.5px;
  margin: 0 0 24px 0;
}

body .footer .footer__row .footer__col2 .footer__inputmail .footer__form {
  margin: 0 0 70px 0;
}

body .footer .footer__row .footer__col2 .footer__inputmail .footer__form .form__inputmail {
  padding: 11px 23px;
  height: 45px;
}

body .footer .footer__row .footer__col2 .footer__inputmail .footer__form .form__inputsubmit {
  font-size: 15px;
  font-weight: 600;
  line-height: 22.5px;
}

body .footer .footer__row .footer__col2 .footer__sitemap {
  -ms-grid-columns: auto 88px auto 88px auto;
      grid-template-columns: auto 88px auto 88px auto;
}

body .footer .footer__row .footer__col2 .footer__sitemap .sitemap__col .sitemap__title {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  margin: 0 0 27px 0;
}

body .footer .footer__row .footer__col2 .footer__sitemap .sitemap__col .sitemap__text {
  font-size: 15px;
  font-weight: 400;
  line-height: 22.5px;
  margin: 0 0 21px 0;
}

body .footer .footer__copyright .copyright__text {
  font-size: 15px;
  font-weight: 400;
  line-height: 22.5px;
  padding: auto 35px;
  border: 35px solid #E7F5F8;
}

@media (max-width: 1130px) {
  body .menu .menu__body .menu__logo {
    margin: 0 0 0 20px;
  }
  body .menu .menu__body .menu__nav {
    position: relative;
    padding: 0 20px;
  }
  body .menu .menu__body .menu__nav .menu__list {
    display: none;
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
  }
  body .menu .menu__body .menu__nav .menu__list .menu__buttons-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body .menu .menu__body .menu__nav .menu__checkbox {
    display: none;
  }
  body .menu .menu__body .menu__nav label {
    display: block;
    width: 30px;
    height: 30px;
    background: url("../img/menu.png");
    background-size: contain;
  }
  body .menu .menu__body .menu__nav label:active {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  body .menu .menu__body .menu__nav .menu__checkbox:checked + .menu__list {
    display: block;
    position: fixed;
    top: 104px;
    right: 0;
  }
  body .menu .menu__body .menu__nav .menu__checkbox:checked + .menu__list li {
    width: 200px;
    margin: 0 3px 2px 0;
    padding: 10px;
    -webkit-box-shadow: 1px 0 #aaa;
            box-shadow: 1px 0 #aaa;
    background: #fff;
  }
  body .menu .menu__body .menu__buttons-pc {
    display: none;
  }
  body .content .content-head .content-head__inner {
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  body .content .content-head .content-head__inner .content-head__buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .content .content-body .products .content-body__cards {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  body .content .content-body .content-body__row4 .content-body__pics {
    height: 590px;
    width: 95%;
    margin: 0 auto;
  }
  body .content .content-footer .content-footer__inner {
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  body .footer .footer__row {
    padding: 90px 100px;
  }
  body .footer .footer__row .footer__col2 .footer__sitemap {
    -ms-grid-columns: auto 54px auto 54px auto;
        grid-template-columns: auto 54px auto 54px auto;
  }
}

@media (max-width: 760px) {
  body .content .promotion div {
    -webkit-transition: all 1s;
    transition: all 1s;
    text-align: center;
  }
  body .content .promotion .promotion__pre-title {
    text-shadow: #fff 5px 0 3px;
  }
  body .content .promotion .promotion__title {
    text-shadow: #fff 5px 0 3px;
  }
  body .content .promotion .promotion__text {
    text-shadow: #fff 5px 0 3px;
  }
  body .content .content-body .content-body__row1 {
    grid-template: [start] "a b" 300px [row2] [row2] "c d" 300px [row-end]/1fr 1fr;
  }
  body .content .content-body .content-body__row1 .content-body__pic1 {
    background-position: top;
  }
  body .content .content-body .content-body__row1 .content-body__pic2 {
    background-position: top;
  }
  body .content .content-body .content-body__row1 .content-body__pic3 {
    background-position: top;
  }
  body .content .content-body .content-body__row1 .content-body__pic4 {
    background-position: top;
  }
  body .content .content-body .content-body__row1 .text {
    -webkit-transform: translate();
            transform: translate();
  }
  body .content .content-body .content-body__row4 .content-body__pics {
    height: 430px;
  }
  body .content .content-body .content-body__row4 .content-body__pics .pic3 {
    border: 12px solid #fff;
    border-bottom: 0;
    border-right: 0;
  }
  body .content .content-body .content-body__row4 .content-body__pics .text {
    font-size: 9px;
    font-weight: 400;
    line-height: 22.5px;
  }
  body .footer .footer__row {
    padding: 50px 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .footer .footer__row div {
    text-align: center;
  }
  body .footer .footer__row .footer__col1 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0 auto;
    width: 80%;
  }
  body .footer .footer__row .footer__col1 .footer__social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .footer .footer__row .footer__col2 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0 auto 50px;
    width: 80%;
  }
}
