//Обнуление стиля
@import "reset.sсss"

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body
	font-family: 'Poppins', sans-serif

.container
	max-width: 1600px
	margin: 0 auto

@mixin text_config($fz, $fw, $lh)
	font-size: $fz
	font-weight: $fw
	line-height: $lh

.header
	text-transform: uppercase
	
	a
		color: black

	.head__row
		display: flex
		justify-content: space-evenly
		align-items: center
		position: sticky
		padding: 27px 140px


		.head__logo
			@include text_config(28px, 700, 42px)
				
		.head__menu a
			margin: 20px
			@include text_config(18px, 400, 27px)
		
		.menu__buttons 
			display: flex
			justify-content: flex-end
			& a
				margin: 20px
				@include text_config(18px, 400, 18px)

@mixin big_image($url)
	background: url($url) 
	background-size: cover
	background-repeat: no-repeat
	height: 745px

.content
	.promotion
		display: flex
		flex-direction: column
		text-transform: uppercase
		max-width: 460px
		.pre-title
			@include text_config(18px, 600, 27px)
		.title
			@include text_config(80px, 700, 120px)
		.text
			@include text_config(18px, 600, 27px)
			text-transform: none
			margin: 0 0 27px 0
		.button
			align-self: start
			color: white
			background-color: black
			padding: 4px 30px 4px 
			@include text_config(18px, 500, 27px)

			
	.content-head
		@include big_image('../img/ch_1.jpeg')
		background-position: 30%

		.content-head__inner
			position: relative
			top: 430/745*100%
			left: 900/1539*100%

			.content-head__buttons
				display: flex
						
				.content-head__break
					width: 35px

	@mixin content_title($row_n)

		align-items: center

		.row#{$row_n}__title
			@include text_config(20px, 700, 30px)
			text-transform: uppercase
			margin: 0 0 15px 0
			text-align: center

		.row#{$row_n}__text
			@include text_config(15px, 400, 22.5px)
			margin: 0 0 65px 0
			text-align: center

	.content-body
		max-width: 1130px
		margin: 0 auto
		
		& >div
			margin: 30px auto

		.row1
			@mixin picture_config($url)
				flex: 0 1 50%
				border: 11px solid #fff
				background-image: url($url)
				background-position: center
		
			.row1_content
				display: flex
				flex-wrap: wrap
				min-height: 580px

				.col1
					flex: 0 1 50%
					display: flex
					flex-direction: column

					.subrow1
						@include picture_config('../img/row1_1.jpeg')
					.subrow2
						flex: 0 1 50%
						display: flex
						.subcol1
							@include picture_config('../img/row1_2.jpeg')
						.subcol2
							@include picture_config('../img/row1_3.jpeg')
				.col2
					@include picture_config('../img/row1_4.jpeg')
					border-left: 10px solid #fff
					border-right: 0px


					.col2_text
						background-color: white
						text-transform: uppercase

						display: inline-block
						position: relative
						left: 28px
						top: 500px

						padding: 4px 24px

						@include text_config(18px, 600, 27px)

		@for $q from 2 through 3
			.row#{$q}
				display: flex
				flex-direction: column

				@include content_title($q)

				.row#{$q}__vars
					display: flex
					flex-wrap: wrap
					justify-content: space-evenly
					width: 100%

					@for $i from 1 through 4
						.row#{$q}__var#{$i}
							flex: 0 1 25%

							display: flex
							flex-direction: column
							flex: 0 1 auto
							margin: 0 0 0 -11px
							padding: 0 0 0 11px

							.pic
								background: url("../img/row#{$q}_#{$i}.jpeg")
								background-position: center
								height: 371px
								margin: 0 0 38px 0

							.text1
								@include text_config(15px, 300, 23px)
							.text2
								@include text_config(15px, 600, 23px)
							.cost
								display: flex
								.oldcost
									text-decoration: line-through
									@include text_config(15px, 400, 23px)
									padding: 0 30px 0 0
								.newcost
									color: #CF2929
									@include text_config(15px, 400, 23px)
								margin: 0 0 30px 0
		.row4
			@include content_title(4)

			.row4__vars
				display: flex
				position: relative
				height: 645px
				margin: 0 0 60px 0

				& >div
					position: absolute
					background-size: cover
					background-repeat: no-repeat

				@mixin row4_img($url, $w, $h)
					background: url($url) 0 0/cover no-repeat
					background-position: center
					width: $w/1130*100%
					height: $h/645*100%

				.row4__var1
					@include row4_img("../img/row4_1.jpeg", 585, 550)
					bottom: 0px
					left: 0px
				.row4__var2
					@include row4_img("../img/row4_2.jpeg", 514, 451)
					right: 0px
				.row4__var3
					@include row4_img("../img/row2_1.jpeg", 271, 325)
					border: 22px solid #fff
					border-bottom: 0
					border-right: 0
					bottom: 0px
					right: 0px
				.vars__text
					right: 274/1130*100%
					bottom: 40px
					@include text_config(15px, 400, 22.5px)
					padding: 0 0 4px 0
					border-bottom: 1px solid #000
					
	.content-footer
		@include big_image('../img/ft_1.jpeg')
		background-position: 80%

		.content-footer__inner
			position: relative
			top: 430/745*100%
			left: 230/1593*100%

	
.footer
	.row
		width: 100%
		background: #F2F8FC

		padding: 110px 230/1130*100%
		display: flex
		justify-content: space-between
		
		.col1
			width: 406/1130*100%

			@include text_config(15px, 400, 22.5px)
			.footer__logo
				@include text_config(25px, 700, 37.5px)
				margin: 0 0 17px 0
			.footer__text
				margin: 0 0 41px 0
			.footer__adress
				margin: 0 0 16px 0
				i
					padding: 0 26px 0 0
			.footer__email
				display: inline-block
				border-bottom: 1px solid #000
				padding: 0 0 3px 0
				margin: 0 0 4px 0
			.footer__tel
				margin: 0 0 16px 0
			.footer__social
				display: flex
				i
					display: block
				.fab
					padding: 0 20px 0 0
					
		.col2
			width: 532/1130*100%
			display: flex
			flex-direction: column
			.footer__updates
				@include text_config(25px, 700, 37.5px)
				margin: 0 0 24px 0
			.footer__inputmail

				border-radius: 6px
				background-color: #fff

				.inputmail
					padding: 11px 23px
					width: 89%
					height: 45px
					border: 0
				.inputsubmit
					width: 9%					
					background-color: #fff
					@include text_config(15px, 600, 22.5px)

				margin: 0 0 70px 0
			.footer__sitemap
				display: flex
				justify-content: space-between
				
				@for $i from 1 through 3
					.subcol#{$i}
						display: flex
						flex-direction: column
				
						.sitemap__title
							@include text_config(20px, 600, 30px)
							text-transform: uppercase
							margin: 0 0 27px 0
						.sitemap__text
							@include text_config(15px, 400, 22.5px)
							margin: 0 0 21px 0

	.copyright 
		background: #E7F5F8

		.copyright__text
			@include text_config(15px, 400, 22.5px)
			padding: auto 35px
			text-align: center
			border: 35px solid #E7F5F8
			
@media (max-width: 1200px)
	@function var($num)
		@return $num * 0.8
	.content-body
		max-width: 970px

@media (max-width: 980px)
	@function var($num)
		@return $num * 0.6
	.content-body
		max-width: 750px

@media (max-width: 780px)
	@function var($num)
		@return $num * 0.4
	.content-body
		max-width: none